.container
  %nav.navbar.navbar-light.bg-faded.ruby-header
    %a.navbar-brand{:href => root_path} 
      = image_tag('logo.png')
    %ul.nav.navbar-nav.pull-right
      %li.nav-item{class: active_menu("home", "index")}
        %a.nav-link{:href => food_items_path} Home
      %li.nav-item{class: active_menu("food_items", "index")}
        %a.nav-link{:href => food_items_path} Menu
      %li.nav-item{class: active_menu("home", "contact_us")}
        %a.nav-link{:href => contact_us_path} Contact US
